<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Linkedex</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Fetch the LinkedIn profile</h2>
      <form method="post">
        <label for="linkedinCookie">Cookie</label>
        <input name="linkedinCookie" id="linkedinCookie" required />
        <label for="searchItem">Search</label>
        <input name="searchItem" id="searchItem" required />
        <input type="submit" value="Search" />
      </form>
      <ul>
        {% for link in links %}
        <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
